<div class="container">
  <div class="header">
    <h1>TO DO APP</h1>
    <img src="assets/images/todo.png" alt="logo" />
  </div>
  <br />
  <div class="input-group">
    <input
      type="text"
      [(ngModel)]="newTask"
      placeholder="add a Task"
      class="form-control"
    />
    <button class="btn btn-outline-primary" (click)="onAdd()">Add task</button>
  </div>

  <ul class="list-group">
    <li
      class="list-group-item"
      *ngFor="let task of tasks; let i = index"
      [ngStyle]="{
        'text-decoration': task.done ? 'line-through' : 'none',
        color: task.done ? 'green' : 'red'
      }"
    >
      {{ task.text }}
      &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
      &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
      &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
      &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
      &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
      &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
      &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
      &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
      &nbsp;
      <button (click)="toggleTask(i)" class="btn btn-outline-secondary">
        Toggle
      </button>

      <button (click)="deleteTask(i)" class="btn btn-outline-danger">
        Delete
      </button>
    </li>
  </ul>
</div>
